<div class="container-fluid">
  <div class="row">
    <div class="parallax"></div>
  </div>
  <div class="row">
    <div class="labelbox">
      <h1 class="titlelogo">the holy grALE</h1>
      <p class="texts">Castle Park | Lancaster</p>
      <p class="texts">Real Ale | Less-Than-Awful Food | Grumpy Barstaff</p>
    </div>
  </div>
  <div class="row">
    <div class="parallax"></div>
  </div>
  <div class="row">
    <div class="infobox">
      <p class="texty">Located in downtown Lancaster. The ideal place to find great real ales and artisinal food.</p>
    </div>
  </div>
  <div class="row">
    <div class="parallax2"></div>
  </div>
  <div class="row">
    <div class="infobox">
      <h2>What's On:</h2>
      <% @taps.each do |tap| %>
        <div class="beer texty"><%= tap.name %> | <%= tap.brewery %> | <%= tap.style %> | <%= tap.draft %> | <%= tap.abv %></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="parallax3"></div>
  </div>
  <div class="row">
    <div class="infobox">
      <p class="texty">Contact us at +05555555555</p>
    </div>
  </div>
</div>