<p id="notice"><%= notice %></p>
<div class="row">
  <div class="buff col-xl-2 col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-11 col-xs-1">
    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
